# Executáveis
*.exe
*.o
*.a

# Arquivos de dados
componentes.csv

# IDEs
*.dev
*.layout

# Compilação
*.out
main

# VS Code - Permite que tasks.json seja rastreado
.vscode/*
!.vscode/tasks.json
!.vscode/c_cpp_properties.json